<div class="flex min-h-full">
  <div
    class="min-h-screen w-2/5 flex items-center justify-center py-12 ml-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <div>
        <img
          class="mx-auto w-1/3 h-1/3"
          src="assets/photos_global/logo_impus.png"
          alt="Workflow"
        />
        <h2 class="mt-2 text-center text-3xl font-extrabold text-gray-900">
          Inscrivez-vous dès maintenant !
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          <a
            routerLink="/login"
            class="font-medium text-indigo-600 hover:text-indigo-500"
          >
            Vous avez déjà un compte?
          </a>
        </p>
      </div>
      <form class="mt-8 space-y-6" [formGroup]="profileForm">
        <input type="hidden" name="remember" value="true" />
        <div>
          <div class="mb-7">
            <label for="email" class="sr-only">Adresse Email</label>
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div class="mb-7">
            <label for="password" class="sr-only">Mot de passe</label>
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Mot de passe"
              formControlName="password"
            />
          </div>
          <div class="flex justify-between">
            <div class="mb-7">
              <label for="name" class="sr-only">Nom</label>
              <input
                id="name"
                name="name"
                type="text"
                autocomplete="name"
                required
                class="appearance-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Nom"
                formControlName="name"
              />
            </div>
            <div class="mb-7">
              <label for="firstname" class="sr-only">Prénom</label>
              <input
                id="firstname"
                name="firstname"
                type="text"
                autocomplete="firstname"
                required
                class="appearance-none rounded-md relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Prénom"
                formControlName="first_name"
              />
            </div>
          </div>
          <div class="mb-7">
            <label for="username" class="sr-only">Pseudo</label>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              required
              class="appearance-none rounded-md w-full relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Pseudo"
              formControlName="username"
            />
          </div>
        </div>

        <div>
          <button
            (click)="register()"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Inscription
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="min-h-full w-3/5 flex items-center justify-center bg-sky-600">
    <img class="w-2/3" src="assets/photos_global/login.png" alt="" />
  </div>
</div>
